*{
    margin: 0px;
}
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&family=Raleway:ital,wght@0,500;1,500&family=Saira+Condensed:wght@500&display=swap');
@keyframes text-modifier {
    0%{
        background-color:rgb(255, 123, 222);
    }
    25%{
        background-color: rgb(148, 170, 243);
    }
    50%{
        background-color: rgb(127, 253, 115);
    }
    75%{
        background-color: rgb(255, 235, 146);
    }
    100%{
        background-color: rgb(255, 123, 222);
    }
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 7vh;
}
nav div a,i{
    text-decoration: none;
    margin-left: 20px;
}
main{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
main section{
    margin-top: 10vh;
}
.sec-one{
    display: flex;
}
.one-one{
    width: 60%;

    padding-top:20vh;
}
.one-one h1,.sec-four div h1{
    font-size: 52px;
}
.one-one:hover h1,.sec-four:hover div h1{
    font-size: 52px;
}
.link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deeppink;
    width: 40%;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    margin-top: 3vh;
    transition: background-color 1s linear,color 1s linear;
    animation: text-modifier  5s linear infinite;
}
.link i{
    margin-left: 5px;
}
.one-two{
    width: 40%;
    position: relative;
    overflow: hidden;
}
.frontground{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    transition: transform 5s ease-in-out;
}
.sec-one:hover .frontground{
    transform: rotatey(-180deg);
}
.background{
    height:100%;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
}
.section-two{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: radial-gradient(black,white);
    border-image-slice: 1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 90px;
    align-items: center;

}
.section-three>h1{
    text-align: center;
}
.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cart{
    background-color: rgb(255, 255, 255);
    padding-left: 14px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
}
.cart img,h4,h1,span{
    width: 100%;
    padding-bottom: 10px;
}
.fa-star{
    margin: 0px;
    height: 16px;
    width: 16px;
}
.colored-star{
    color: gold;
}
.non-colored-star{
    color: rgb(207, 207, 207);
}
.cart span{
    margin-left: 5%;
}
.section-three a{
    display: flex;
    justify-content: right;
    text-decoration: none;
}
.sec-four h1{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 111, 133);
    font-family: 'Luxurious Roman', cursive;
}
.four-two{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 10vh;
    position: relative;
}
.gallery1{
    position: relative;
}
.gallery{
    position: relative;
    height: 100%;
    width: 100%;
}
#foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0vh;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
}
#foot div i{
    margin: 10px;
}

.nav-three{
    display: none;
}
.brand-for-mobile1,.brand-for-mobile2{
    display: none;
}
@media only screen and (max-width:688px) {
    .nav-three{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .nav-three h2{
        font-size: 20px;
    }
    .nav-three a{
        font-size: 40px;
    }
    .nav-three i{
        margin: 0px;
        font-size: 40px;
    }
    .nav-one,.nav-two{
        display: none;
    }
    .sec-one{
        flex-direction: column;
    }
    .one-one{
        order: 2;
        width: 100%;
        padding-top: 10%;
        justify-content: center;
    }
    .one-one h1{
        font-size: 40px;
    }
    .link{
        width: 60%;
    }
    .one-two{
        order: 1;
        width: 100%;
    }
    .frontground{
        height: 40%;
    }
    .brand-for-laptop{
        display: none;
    }
    .section-two{
        display: flex;
        flex-direction: column;
    }
    .brand-for-mobile1,.brand-for-mobile2{
        width: 100%;
        height: 50%;
        display: flex;
        padding: 1%;
        justify-content: space-evenly;
        align-items: center;
    }
    .brand-strect{
        height: 4vh;
    }
    .carts{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .carts{
        grid-template-columns: repeat(2,1fr);
    }
    .one-one{
        width: 100%;
        padding-top: 10%;
        justify-content: center;
    }
    .one-two{
        order: 1;
        width: 100%;
    }
}